<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{ :: body}, 'owners', #{listOfOwners})}">
<body>
<h2 th:text="#{listOfOwners}">List of Owners</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th th:text="#{id}">Id</th>
    <th th:text="#{firstName}">Firstname</th>
    <th th:text="#{lastName}">Lastname</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="owner : ${owners}">
    <td th:text="${owner.id}">1</td>
    <td th:text="${owner.firstName}">Firstname</td>
    <td th:text="${owner.lastName}">Lastname</td>
  </tr>
  </tbody>
</table>
</body>
</html>