<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{ :: body}, 'owners', #{ownerDetail})}">
<body>
<h2 th:text="#{ownerDetail}">Owner detail</h2>
<table class="table table-striped" th:object="${owner}">
  <tbody>
  <tr>
    <th th:text="#{name}">Name</th>
    <td><strong th:text="*{firstName + ' ' + lastName}"></strong></td>
  </tr>
  <tr>
    <th th:text="#{address}">Address</th>
    <td th:text="*{address}"></td>
  </tr>
  <tr>
    <th th:text="#{city}">City</th>
    <td th:text="*{city}"></td>
  </tr>
  <tr>
    <th th:text="#{telephone}">Telephone</th>
    <td th:text="*{telephone}"></td>
  </tr>
  </tbody>
</table>
<a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default" th:text="#{editOwner}">Edit Owner</a>
<a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-default" th:text="#{addNewPet}">Add New Pet</a>
<br/><br/><br/>
<h2 th:text="#{petsAndVisits}">Pets and visits</h2>
<table class="table table-striped">
  <tr th:each="pet : ${owner.pets}">
    <td valign="top">
      <dl class="dl-horizontal">
        <dt th:text="#{name}">Name</dt>
        <dd th:text="${pet.name}">Pet Name</dd>
        <dt th:text="#{birthDate}">Birth Date</dt>
        <dd th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></dd>
        <dt th:text="#{type}">Type</dt>
        <dd th:text="${pet.petType.name}">Pet Type</dd>
      </dl>
    </td>
    <td valign="top">
      <table class="table-condensed">
        <thead>
        <tr>
          <th th:text="#{visitDate}">Visit Date</th>
          <th th:text="#{description}">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${pet.visits}">
          <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
          <td th:text="${visit.description}"></td>
        </tr>
        <tr>
          <td>
            <a th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${owner.id},petId=${pet.id})}" th:text="#{pet}">Pet</a>
          </td>
          <td>
            <a th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}" th:text="#{visit}">Visit</a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
</body>
</html>