<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'vets', #{listOfVets})}">
<body>
<h1 th:text="#{listOfVets}">List of Vets</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th th:text="#{id}">Id</th>
    <th th:text="#{firstName}">Firstname</th>
    <th th:text="#{lastName}">Lastname</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="vet : ${vets}">
    <td th:text="${vet.id}">1</td>
    <td th:text="${vet.firstName}">Firstname</td>
    <td th:text="${vet.lastName}">Lastname</td>
  </tr>
  </tbody>
</table>
</body>
</html>